{
  "check-coverage" : true,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "include": [
    "lib/**/*.js"
  ],
  "require": [
    "./spec/.config/bootstrap.js"
  ],
  "exclude": [
    "lib/util/env.js",
    "spec"
  ],
  "reporter":[
    "text",
    "html"
  ],
  "all": true
}
